// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

//Bootstrap icons

@import 'bootstrap-icons/font/bootstrap-icons.css';

//Select2
@import 'select2/dist/css/select2.css';

// flatpickr
@import 'flatpickr/dist/flatpickr.css';

@fullcalendar/core/main.css;
@fullcalendar/daygrid/main.css;
@fullcalendar/timegrid/main.css;
@fullcalendar/list/main.css;

input:not(.form-check-input),input:not(.login-form), textarea, select {
    background-color: #ffffff !important;
}

.btn-purple{
    background-color: #6f42c1;
    border-color: #6f42c1;
    color: #fff;
}

.card-header{
    background-color: #3c7ac0;
    color: #fff;
}

.navbar, .nav-link, .navbar-brand, .navbar-nav, .navbar-toggler-icon, .navbar-toggler{
    background-color: #3c7ac0;
    color: #fff;
}
